@model List<HocWeb.Models.FeedBackModels>
@using HocWeb.DAO
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutView.cshtml";
    var user = new USERDAO();
    var product = new ProductDao();
}
@section header{
}
@section jsFooter{
    <script src="~/Assets/Admin/js/controller/FeedBackController.js"></script>
}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="m-0 font-weight-bold text-primary">Danh sách kho</h1>
    <div>
        <a class="btn btn-primary" href="/Admin/FeedBack/Create" style="width:200px"> Thêm mới </a>
    </div>
    <hr />
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Tên kho</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                                <th>Địa chỉ</th>
                                <th>Trạng thái</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Tên kho</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                                <th>Địa chỉ</th>
                                <th>Trạng thái</th>>
                                <th>#</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item">
                                    <td>@item.name</td>
                                    <td>@item.lat</td>
                                    <td>@item.lng</td>
                                    <td>@item.address</td>
                                    <td>
                                        @{
                                            if (item.status == true)
                                            {
                                                <p style="color:green; font-size:20px;font-weight:bold">Tốt</p>
                                            }
                                            else
                                            {
                                                <p style="color:red; font-size:20px;font-weight:bold">Đầy</p>
                                            }
                                        }

                                    </td>

                                    <td>
                                        <a class="btn btn-primary" href="/Admin/FeedBack/Detail/@item.WarehouseId">Chi tiết</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



